// Colors
$main-color: #e04f62;
$text-color: #4e4e4e;
$meta-color: #AEAEAE;
$heading-color: #444444;
$nav-color: #353535;
$bg-light: #f7f7f7;
$bg-dark: #303030;
$border-color: #EBEBEB;


// Fonts
$body-font: 'Lora', serif;
$heading-font: 'Maven Pro', sans-serif;
$alt-font: 'Lora', serif;


// Navbar
$nav-height: 54px;